// Color Variables 
$primary-color-white: #FFFF;
$primary-color-dark: #1F3E72;
$darkBlue: #2848C6;
$blue: #67B6FF;
$medBlue: #E7EDFF;
$grayishBlue: #6F7C94;
$lightBlue: #F4F7FF;
$yellow: #FFD012;
// Font-size
$large-fz:3.333vw; //48px - H1
$big-fz:2.500vw; //36px - H2
$normal-fz:1.667vw; //24px - h3
$small-fz:1.125em; //18px - H4
$verysmall-fz:0.75em; //12px - p