.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

@font-face {
  font-family: NeuePlak;
  src: url("../../fonts/NeuePlak.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-italic;
  src: url("../../fonts/Montserrat-Italic.ttf");
}

h1,
h1 *, h2, h4, h5 {
  font-weight: 200;
  font-family: NeuePlak;
}

h1,
h1 * {
  color: #1F3E72;
  font-size: 3.333vw;
}

h1::-moz-selection,
h1 *::-moz-selection {
  background-color: #1F3E72;
  color: #FFFF;
}

h1::selection,
h1 *::selection {
  background-color: #1F3E72;
  color: #FFFF;
}

@media (max-width: 63.9375em) {
  h1,
  h1 * {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 2.5vw;
}

@media (max-width: 63.9375em) {
  h2 {
    font-size: 1.4rem;
  }
}

h4 {
  color: #1F3E72;
  font-size: 1.125em;
}

h5 {
  font-size: 0.75em;
}

@media (max-width: 63.9375em) {
  h5 {
    font-size: 0.75rem;
  }
}

span.secondary-font {
  font-family: Montserrat;
}

p {
  color: #6F7C94;
  font-size: 0.75em;
}

@media (max-width: 47.9375em) {
  p {
    font-size: .75rem;
  }
}

*::-moz-selection {
  background-color: #FFFF;
  color: #1F3E72;
}

*::selection {
  background-color: #FFFF;
  color: #1F3E72;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 105em) {
  html {
    font-size: 130%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  cursor: default;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 100%;
  font-weight: 200;
  color: #FFFF;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #FFFF;
}

body.noscroll {
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

body.active {
  height: 100%;
  scroll-behavior: none;
  overflow: hidden;
}

span {
  font-size: inherit;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex_col-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_col-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_col-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-self-c {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.primary-font {
  font-family: NeuePlak;
}

.secondary-font {
  font-family: Montserrat;
}

.third-font {
  font-family: Montserrat-italic;
}

.normal-fz {
  font-size: 1.667vw;
}

.float-r {
  float: right;
}

.r-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.container--pall {
  padding-top: 2.375rem;
  padding-right: 1.5rem;
  padding-bottom: 2.375rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.container--py-1 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

@media (max-width: 26.5em) {
  .container--py-1 {
    padding-top: 8rem;
    padding-bottom: 10rem;
  }
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 2rem;
  padding-left: 2rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.underline-text {
  background-image: linear-gradient(120deg, #FFD012 0%, #ffc400 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

.dot {
  margin: 0 20%;
  width: 3rem;
}

.dot--2 {
  -webkit-transform: translate(50vw, 20vw);
          transform: translate(50vw, 20vw);
  width: 3rem;
}

.dot--3 {
  -webkit-transform: translate(35vw, 2vw);
          transform: translate(35vw, 2vw);
  width: 3rem;
}

.blue-background--half-circle {
  background-color: #F4F7FF;
  width: 100%;
  height: 20rem;
  border-radius: 100% 100% 0 0;
  margin-top: -30rem;
  z-index: -1;
  position: relative;
}

.blue-background--half-circle-2 {
  background-color: #F4F7FF;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 100%;
  height: 20rem;
  border-radius: 100% 100% 0 0;
  margin-top: 0rem;
  z-index: -1;
  position: relative;
}

.blue-background {
  background-color: #F4F7FF;
  background-image: url(../../img/line-background-for-blue-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: var(--color-text);
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
  /* show by default */
}

.link--carpo::before {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.3s .2s;
  transition: -webkit-transform 0.3s .2s;
  transition: transform 0.3s .2s;
  transition: transform 0.3s .2s, -webkit-transform 0.3s .2s;
}

.link--carpo:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.link--carpo::after {
  content: '';
  top: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.link--carpo:hover::after {
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
}

.slide-vertical .char,
.slide-horizontal .char {
  overflow: hidden;
  color: transparent;
}

.slide-vertical .char:before, .slide-vertical .char:after,
.slide-horizontal .char:before,
.slide-horizontal .char:after {
  visibility: visible;
  color: #FFFF;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
  -webkit-transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index))));
          transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index))));
}

.slide-vertical .char:before,
.slide-horizontal .char:before {
  color: #FFFF;
  -webkit-transition-delay: calc( 0.02s * ( var(--char-index)));
          transition-delay: calc( 0.02s * ( var(--char-index)));
}

.slide-vertical:hover .char:before,
.slide-horizontal:hover .char:before {
  -webkit-transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index))));
          transition-delay: calc( 0.2s + ( 0.02s * ( var(--char-index))));
}

.slide-vertical:hover .char:after,
.slide-horizontal:hover .char:after {
  -webkit-transition-delay: calc( 0.02s * ( var(--char-index)));
          transition-delay: calc( 0.02s * ( var(--char-index)));
}

.slide-vertical .char:before {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.slide-vertical:hover .char:before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.slide-vertical:hover .char:after {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

button,
.button {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.875rem 2.1875rem;
  background-color: #2848C6;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  color: #FFFF;
  font-weight: 400;
  font-size: 0.75em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}

button > :first-child,
.button > :first-child {
  margin-right: .5rem;
}

button::before,
.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

button:hover,
.button:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-box-shadow: 1px 23px 21px -2px rgba(223, 231, 255, 0.75);
          box-shadow: 1px 23px 21px -2px rgba(223, 231, 255, 0.75);
}

button:hover::before,
.button:hover::before {
  opacity: 1;
}

button--secondary,
.button--secondary {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.875rem 2.1875rem;
  background-color: transparent;
  border: 2px solid #2848C6;
  border-radius: 10px;
  cursor: pointer;
  color: #2848C6;
  font-weight: 400;
  font-size: 0.75em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}

button--secondary:hover,
.button--secondary:hover {
  background-color: #2848C6;
  color: #FFFF;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-box-shadow: 1px 23px 21px -2px rgba(223, 231, 255, 0.75);
          box-shadow: 1px 23px 21px -2px rgba(223, 231, 255, 0.75);
}

input {
  padding: 1rem;
  width: 40%;
  border: 0px;
  outline: none;
  background: #F4F7FF;
  border-radius: 10px;
  font-family: Montserrat;
  color: #6F7C94;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input::-webkit-input-placeholder {
  color: #6F7C94;
}

input:-ms-input-placeholder {
  color: #6F7C94;
}

input::-ms-input-placeholder {
  color: #6F7C94;
}

input::placeholder {
  color: #6F7C94;
}

.input--1 {
  padding: 1rem;
  width: 70%;
  border: 0px;
  outline: none;
  background: #F4F7FF;
  border-radius: 10px;
  font-family: Montserrat;
  color: #6F7C94;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input:focus {
  border: 2px solid #6F7C94;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  width: 100%;
  min-width: 15rem;
  height: 470px;
  border-radius: 20px;
  border: 4px solid #F4F7FF;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-align: center;
}

.post-module:hover,
.hover {
  -webkit-box-shadow: 1px 23px 21px -2px rgba(223, 231, 255, 0.75);
          box-shadow: 1px 23px 21px -2px rgba(223, 231, 255, 0.75);
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.6;
}

.post-module .thumbnail {
  border-radius: 20px;
  background: #000000;
  height: 400px;
  overflow: hidden;
}

.post-module .thumbnail .jarak {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #67B6FF;
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
}

.post-module .thumbnail .jarak .jarak__icon {
  font-size: 10px;
}

.post-module .thumbnail .jarak .month {
  font-size: 12px;
  text-transform: uppercase;
}

.post-module .thumbnail img {
  display: block;
  height: 80%;
  width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.post-module .post-content {
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
}

.post-module .post-content .sub_title {
  font-size: 12px;
  margin: 0;
  padding: 0 0 20px;
}

.post-module .post-content .post-meta {
  margin: 30px 0 0;
  color: #6F7C94;
}

.post-module .post-content .post-meta .kuota {
  margin: 0 16px 0 0;
}

.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.vasilitas__section__card {
  width: 100%;
  min-width: 640px;
  padding: 4rem 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 47.9375em) {
  .vasilitas__section__card {
    min-width: 0;
  }
}

@media (max-width: 19.9375em) {
  .vasilitas__section__card {
    padding: 0 0;
  }
}

.vasilitas__section__card:before,
.vasilitas__section__card:after {
  content: '';
  display: block;
  clear: both;
}

.vasilitas__section__card .column {
  width: 50%;
  padding: 2rem;
  float: left;
}

@media (max-width: 47.9375em) {
  .vasilitas__section__card .column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media (max-width: 26.5em) {
  .vasilitas__section__card .column {
    width: 100%;
  }
}

@media (min-width: 64em) {
  .vasilitas__section__card .column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}

.contact__section__card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 640px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 47.9375em) {
  .contact__section__card {
    min-width: 0;
  }
}

.contact__section__card:before,
.contact__section__card:after {
  content: '';
  display: block;
  clear: both;
}

.contact__section__card .column {
  width: 50%;
  padding: 2rem;
  float: left;
}

@media (min-width: 64em) {
  .contact__section__card .column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}

@media (max-width: 47.9375em) {
  .contact__section__card .column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media (max-width: 26.5em) {
  .contact__section__card .column {
    width: 100%;
  }
}

@media (max-width: 19.9375em) {
  .contact__section__card .column {
    width: 100%;
    padding: 1rem;
  }
}

.contact__post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  width: 100%;
  min-width: 15rem;
  height: 300px;
  border-radius: 20px;
  border: 4px solid #F4F7FF;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-align: center;
}

.contact__post-module:hover,
.hover {
  -webkit-box-shadow: 1px 23px 21px -2px rgba(223, 231, 255, 0.75);
          box-shadow: 1px 23px 21px -2px rgba(223, 231, 255, 0.75);
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.contact__post-module:hover .thumbnail img,
.hover .thumbnail img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.6;
}

.contact__post-module .thumbnail {
  border-radius: 20px;
  background: #000000;
  height: 200px;
  overflow: hidden;
}

.contact__post-module .thumbnail .jarak {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #67B6FF;
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
}

.contact__post-module .thumbnail .jarak .jarak__icon {
  font-size: 10px;
}

.contact__post-module .thumbnail .jarak .month {
  font-size: 12px;
  text-transform: uppercase;
}

.contact__post-module .thumbnail img {
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.contact__post-module .post-content {
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.contact__post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
}

.contact__post-module .post-content .sub_title {
  font-size: 12px;
  margin: 0;
  padding: 0 0 20px;
}

.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

.v-img {
  width: 10vh;
  min-width: 10%;
}

.v-img--r {
  width: 10vh;
  min-width: 10%;
  position: absolute;
  top: 0;
  right: 0;
}

.v-img--2 {
  width: 5vh;
  min-width: 5%;
}

.hero {
  position: relative;
}

.hero__section {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 63.9375em) {
  .hero__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__section__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero__section__left > *:not(:last-child) {
  margin-bottom: 2rem;
}

@media (max-width: 63.9375em) {
  .hero__section__left {
    position: absolute;
  }
}

.hero__section__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 63.9375em) {
  .hero__section__right {
    position: relative;
    z-index: -2;
  }
}

@media (min-width: 20em) {
  .hero__section__right {
    margin-top: 30vh;
  }
}

@media (min-width: 26.5625em) {
  .hero__section__right {
    margin-top: 0vh;
  }
}

.hero__section__header {
  max-width: 80%;
}

.hero__section__p {
  width: 50%;
  margin-left: 2rem;
}

.hero__section__button {
  margin-left: 2rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 26.5em) {
  .hero__section__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__section__button > * {
  margin-right: 1rem;
}

@media (max-width: 26.5em) {
  .hero__section__button > * {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.hero__section__status {
  position: relative;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
  z-index: 10;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  background: #FFFF;
  border-radius: 20px;
  -webkit-box-shadow: 1px 15px 22px 10px rgba(223, 231, 255, 0.5);
          box-shadow: 1px 15px 22px 10px rgba(223, 231, 255, 0.5);
}

.hero__section__status__title {
  margin-bottom: 2rem;
}

@media (max-width: 47.9375em) {
  .hero__section__status__input__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.9375em) {
  .hero__section__status__input__wrapper > * {
    width: 100%;
    margin-top: 1rem;
  }
}

.hero__image {
  float: right;
  position: relative;
  height: 100%;
}

.hero__image--1 {
  max-width: 100%;
  height: 100vh;
}

.hero__image--2 {
  position: absolute;
  top: -25vh;
  left: 50vw;
  max-width: 10%;
  height: 100vh;
}

@media (max-width: 63.9375em) {
  .hero__image--2 {
    top: 20%;
    left: 50vw;
  }
}

.hero__image--3 {
  position: absolute;
  max-width: 30%;
  height: 100vh;
  right: 5vw;
  bottom: 0;
}

@media (max-width: 63.9375em) {
  .hero__image--3 {
    max-width: 40%;
    height: 100vw;
    bottom: 0;
    right: 0;
  }
}

.hero__image--4 {
  height: 90vh;
  position: absolute;
  bottom: 0;
  right: 10vw;
}

@media (max-width: 63.9375em) {
  .hero__image--4 {
    height: 70vw;
    bottom: 0;
    right: 0;
  }
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  -webkit-box-shadow: 1px 10px 15px -2px rgba(223, 231, 255, 0.5);
          box-shadow: 1px 10px 15px -2px rgba(223, 231, 255, 0.5);
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1F3E72), to(transparent));
  background-image: linear-gradient(#1F3E72, transparent);
}

@media (min-width: 64em) {
  .header .overlay {
    display: none;
  }
}

.header nav {
  position: relative;
  background-color: #FFFF;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2848C6;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #FFFF;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #2848C6;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 0.75em;
  color: #6F7C94;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -1.563vw;
  background: -webkit-gradient(linear, left top, right top, from(#2848C6), to(#67B6FF));
  background: linear-gradient(to right, #2848C6, #67B6FF);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #2848C6;
}

.header__links a:hover::before {
  opacity: 1;
}

.vasilitas {
  -webkit-transform: translateY(-7rem);
          transform: translateY(-7rem);
}

.vasilitas__section__title {
  text-align: center;
  max-width: 50%;
  margin: 1rem auto;
}

.vasilitas__section__search__wrapper {
  width: 100%;
}

.vasilitas__section__input {
  margin-right: 2rem;
}

.faq {
  padding-top: 10rem;
}

@media (max-width: 63.9375em) {
  .faq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.faq__image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
}

.faq__image__bg {
  height: 45vw;
  margin: 2rem;
}

@media (max-width: 63.9375em) {
  .faq__image__bg {
    height: 70vw;
    bottom: 0;
    right: 0;
  }
}

.faq__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 63.9375em) {
  .faq__title {
    text-align: center;
  }
}

.faq__item__wrapper {
  padding: 2rem 0;
}

@media (max-width: 63.9375em) {
  .faq__item__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.faq__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFF;
  padding: 1rem;
  width: 90%;
  border: 4px solid #E7EDFF;
  border-radius: 20px;
}

.faq__item:not(:last-child) {
  margin-bottom: 1rem;
}

.faq__item__icon {
  padding: .5rem;
  background-color: #67B6FF;
  border-radius: 20%;
  margin-right: 1rem;
}

.contact {
  margin-top: 10rem;
  z-index: 1;
}

.contact__content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 63.9375em) {
  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__content__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.contact__content__title {
  padding-left: 2rem;
}

.contact__content__paragraph {
  padding: 2rem 0 0 2rem;
}

.contact__content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact__image {
  position: relative;
}

.contact__image__bg {
  height: 45vw;
  margin: 2rem;
}

@media (max-width: 63.9375em) {
  .contact__image__bg {
    height: 70vw;
    bottom: 0;
    right: 0;
  }
}

.emergency-number {
  width: 90%;
  margin: 0 auto;
  padding: 1.2rem 4rem;
  background-color: #2848C6;
  margin-top: -7rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
}

@media (max-width: 26.5em) {
  .emergency-number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.emergency-number__icon {
  padding: 1rem;
  border: 2px solid #F4F7FF;
  border-radius: 20px;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 26.5em) {
  .emergency-number__icon {
    margin-top: 1rem;
  }
}

.emergency-number__icon > :first-child {
  color: #FFFF;
  padding: .8rem;
  background-color: #67B6FF;
  border-radius: 20px;
  margin-right: .5rem;
}

.emergency-number__icon > span {
  color: #FFFF;
  font-weight: 600;
}

.emergency-number__icon:hover {
  background-color: #F4F7FF;
  border: 2px solid #F4F7FF;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.emergency-number__icon:hover > span {
  color: #67B6FF;
}

.footer {
  width: 100%;
  height: 100%;
  margin: 8rem 0 3rem 0;
  text-align: center;
}

.footer__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.footer__paragraph {
  margin-top: 1rem;
  width: 30%;
  color: #6F7C94;
  opacity: 50%;
  font-weight: 100;
}

.footer__links {
  text-align: center;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 47.9375em) {
  .footer__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__links__item {
  padding: 2rem;
  color: #6F7C94;
  position: relative;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.footer__links__item::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#2848C6), to(#67B6FF));
  background: linear-gradient(to right, #2848C6, #67B6FF);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.footer__links__item:hover {
  color: #2848C6;
}

.footer__links__item:hover::before {
  opacity: 1;
}

.content {
  width: 100%;
  height: 100%;
}

.content__hero {
  width: 100%;
  height: 100%;
  margin: 7vh 0;
}

.content__about {
  margin: 20vw 0;
}

.header {
  height: 3.5rem;
}
/*# sourceMappingURL=main.css.map */