input {
    padding: 1rem;
    width: 40%;
    border: 0px;
    outline: none;
    background: $lightBlue;
    border-radius: 10px;
    font-family: $secondary-font;
    color: $grayishBlue;
    transition: all 100ms ease-in;
    &::placeholder {
        color: $grayishBlue;
    }
}

.input--1 {
    padding: 1rem;
    width: 70%;
    border: 0px;
    outline: none;
    background: $lightBlue;
    border-radius: 10px;
    font-family: $secondary-font;
    color: $grayishBlue;
    transition: all 100ms ease-in;
}

input:focus {
    border: 2px solid $grayishBlue;
    transition: all 100ms ease-in;
}