.hero {
    position: relative;
    &__section {
        flex-wrap: nowrap;
        @include breakpoint-down(medium) {
            flex-direction: column;
        }
        &__left {
            flex: 1;
            &>*:not(:last-child) {
                margin-bottom: 2rem;
            }
            @include breakpoint-down(medium) {
                position: absolute;
            }
        }
        &__right {
            flex: 0 0 50%;
            @include breakpoint-down(medium) {
                position: relative;
                z-index: -2;
            }
            @include breakpoint-up(xsmall) {
                margin-top: 30vh;
            }
            @include breakpoint-up(semimedium) {
                margin-top: 0vh;
            }
        }
        &__header {
            max-width: 80%;
        }
        &__p {
            width: 50%;
            margin-left: 2rem;
        }
        &__button {
            margin-left: 2rem;
            flex-wrap: nowrap;
            @include breakpoint-down(small) {
                flex-direction: column;
            }
            &>* {
                margin-right: 1rem;
                @include breakpoint-down(small) {
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
            }
        }
        &__status {
            position: relative;
            transform: translateY(-5rem);
            z-index: 10;
            width: 90%;
            margin: 0 auto;
            padding: 2rem;
            background: $primary-color-white;
            border-radius: 20px;
            box-shadow: 1px 15px 22px 10px rgba(223, 231, 255, 0.5);
            &__title {
                margin-bottom: 2rem;
            }
            &__input__wrapper {
                @include breakpoint-down(semimedium) {
                    flex-direction: column;
                }
                &>* {
                    @include breakpoint-down(semimedium) {
                        width: 100%;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    &__image {
        float: right;
        position: relative;
        // position: absolute;
        // top: -5vh;
        // right: -5vh;
        height: 100%;
        &--1 {
            max-width: 100%;
            height: 100vh;
        }
        &--2 {
            position: absolute;
            top: -25vh;
            left: 50vw;
            max-width: 10%;
            height: 100vh;
            @include breakpoint-down(medium) {
                top: 20%;
                left: 50vw;
            }
        }
        &--3 {
            position: absolute;
            max-width: 30%;
            height: 100vh;
            right: 5vw;
            bottom: 0;
            @include breakpoint-down(medium) {
                max-width: 40%;
                height: 100vw;
                bottom: 0;
                right: 0;
            }
        }
        &--4 {
            height: 90vh;
            position: absolute;
            bottom: 0;
            right: 10vw;
            @include breakpoint-down(medium) {
                height: 70vw;
                bottom: 0;
                right: 0;
            }
        }
    }
}